@font-face {
  font-family: TT-Norms-Black;
  src: url(TT-Norms-Fonts/TTNorms-Black.otf);
}

/* body {
  font-family: sans-serif;
  min-height: 100vh;
} */

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav {
  height: 60px;
  align-content: center;
}

form div {
  margin: 1em;
  display: inline-block;
}
img {
  padding: 10px;
}

.bundle {
  background-color: #f6bd60;
  padding: 10px;
  font-weight: bold;
}


.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}