@font-face {
  font-family: TT-Norms-Fonts;
  src: url("/TT-Norms-Fonts.otf") format("opentype");
}

@font-face {
  font-family: "tt_normsblack";
  src: url("ttnorms-black-webfont.woff2") format("woff2"),
    url("ttnorms-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* can use this to change the color of our navbar */
nav {
  /* background-color: #F6bd60; */
  height: 60px;
  align-content: center;
}
form div {
  margin: 1em;
  display: inline-block;
}
img {
  padding: 10px;
}

.bundle {
  background-color: #f6bd60;
  padding: 10px;
  font-weight: bold;
}
