@font-face {
  font-family: TT-Norms-Black;
  src: url(TT-Norms-Fonts/TTNorms-Black.otf);
}

@font-face {
  font-family: merel-black;
  src: url(merel-black/Merel\ Light.otf);
}
/* body {
  background-image: url("https://i.imgur.com/KMz0LUB.png");

} */

label {
  display: block;
}

h4 {
  font-family: "merel-black";
}
h1{
  font-family: "TT-Norms-Black";
 font-size:90px;
}
h2, strong{
  font-family: "TT-Norms-Black";
 font-size:50px;
}

input, label, small, th, p, td, h3 , span{
  font-family: "merel-black";
}
a {
    font-family: "merel-black";
}
th {
  color: "blue"
}
h5 {
  font-family: "TT-Norms-Black";
  font-size: 25px;
}

button {
  color: #f6bd60;
}

.nav-link{
  font-family: "merel-black";
  }

form div {
  margin: 1em;
  display: inline-block;
}
img {
  padding: 10px;
}

.bundle {
  background-color: #f6bd60;
  padding: 10px;
  font-weight: bold;
}
.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 1.3em;
}
.navbar .navbar-nav .nav-link:hover {
background-color: #F6BD60;
color: black;
}

ul.pagination {
justify-content:center;
background-Color: "black"
}

a.page-link {
  color:black;
  background-color:white;

}

 li.page-item.active a.page-link{
  color:black;
  background-color: #F6BD60;
  border: black

}
li.page-item.disabled {
color:black
}

